 .rotate {
        transform-origin:0% bottom;
        -moz-transform-origin:0% bottom;
        -webkit-transform-origin:0% bottom;
        -o-transform-origin:0% bottom;
        -ms-transform-origin:0% bottom;
        transform:rotate(-90deg) translateY(100%);
        -moz-transform:rotate(-90deg) translateY(100%);
        -webkit-transform:rotate(-90deg) translateY(100%);
        -o-transform:rotate(-90deg) translateY(100%);
        -ms-transform:rotate(-90deg) translateY(100%);
	    display: block;
	    writing-mode: tb-rl;
	    position: fixed;
        left:0; bottom:0;
	    margin: auto;
        font-size:70px;
        font-family: 'Limelight', cursive;
    }

.rotate sup {
    font-size:20px;
}

.loginbox {
    position:fixed;
    top: 45%;
    left: 50%;
    width:40em;
    height:100em;
    margin-top: -9em; /* set to a negative number 1/2 of your height*/
    margin-left: -20em; /*set to a negative number 1/2 of your width*/
}

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 100;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#0C87C4 0%, #0C87C4 100%);
  box shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #0C87C4;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0C87C4;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #0C87C4;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #0C87C4;
}